<div class="w-screen h-screen bg-slate-300 flex justify-center items-center">
    <div class="flex flex-col items-center">
        <div class="mb-6">
            <h1 class="text-slate-700 text-4xl font-bold">Showing Data from API</h1>
        </div>
        <div class="overflow-x-auto shadow-lg rounded-lg">
            <table class="min-w-full bg-white rounded-lg overflow-hidden">
                <thead class="bg-slate-600 text-white">
                    <tr>
                        <th class="text-left py-3 px-5">Id</th>
                        <th class="text-left py-3 px-5">Name</th>
                        <th class="text-left py-3 px-5">Username</th>
                        <th class="text-left py-3 px-5">Email</th>
                        <th class="text-left py-3 px-5">Phone No</th>
                        <th class="text-left py-3 px-5">Website</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    <tr *ngFor="let user of users" class="border-b hover:bg-gray-100">
                        <td class="py-3 px-5">{{ user.id }}</td>
                        <td class="py-3 px-5">{{ user.name }}</td>
                        <td class="py-3 px-5">{{ user.username }}</td>
                        <td class="py-3 px-5">{{ user.email }}</td>
                        <td class="py-3 px-5">{{ user.phone }}</td>
                        <td class="py-3 px-5">{{ user.website }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>